.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card-wrapper {
  /* max-width: 420px; */
}
.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 420px; */
}
.poster {
  max-width: 400px;
}
.avatar {
  width: 80px;
  position: relative;
  right: 50px !important;
}
.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.right-column textarea {
  box-sizing: border-box;
  border-color: rgb(121, 118, 123);
  width: 400px;
  height: 150px;
  line-height: 150%;
  resize: vertical;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .5rem;
}

@media screen and (min-width: 1024px) {
  /* Estilos que se aplicarán a partir de 460px o más */
  .card-container {
    margin-top: 24px;
  }
  .card-wrapper {
    max-width: 1024px;
  }
  .poster {
    max-width: 440px;
  }

  .hero-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    max-width: 1024px;
  }
  .right-column textarea {
    width: 220px;
    margin-top: 0;
    margin-bottom: 1rem;
    height: 200px;
  }

}